<?xml version="1.0" encoding="utf-8" ?>
<!--

心跳格式   UDP方式发送
1. 程序建立一个 UDP 服务器，实时接收心跳信息
心跳信息示例：{"name":"program1","period":"50000","message":"infoWWWWW"}
name：名称
period：心跳的周期 单位秒
message：预留信息，当失去心跳后给手机号发送短信会将此消息附带上去

2.程序会启动一个timer任务，每隔一定周期执行， 周期长度写在配置文件中
<add key="CheckPeriod" value="10000" /> 默认 10000毫秒及10秒
timer任务会检是否收到新的心跳，若连续3次没有收到心跳则给手机号发送短信

-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UDPServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <!--心跳格式   UDP方式发送-->
    <!--{"name":"心跳名称","period":"心跳周期单位s","message":"报警短信内容"}-->
    <!--{"name":"OPC1","period":"10000","message":"OPC have question"}-->
    <!--心跳检测周期， 即每隔多久查看一下心跳状态 单位s-->
    <add key="CheckPeriod" value="10000" />
    <!--UDP监听端口-->
    <add key="UdpPort" value="9167" />
    <!--通知用户-->
    <!--<add key="SMSNoList" value="18153517807,18953558516,18153517659,18153517082" />-->
    <add key="SMSNoList" value="18153519707" />
    <!--短信设置-->
    <!--短信用户名-->
    <add key="SMSUser" value="mes" />
    <!--短信密码-->
    <add key="SMSPassword" value="234567" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <UDPServer.Properties.Settings>
      <setting name="UDPServer_com_whchem_sms_Service" serializeAs="String">
        <value>http://sms.whchem.com/Service/Service.asmx</value>
      </setting>
    </UDPServer.Properties.Settings>
  </applicationSettings>
</configuration>